{{>layouts/header}}

<h1>찾을 수 없습니다 (404)</h1>

<article>
    <p>{{#message}}{{message}}{{/message}}{{^message}}요청하신 페이지나 자원을 찾을 수 없습니다.{{/message}}</p>
</article>

<p>
    <a href="/subscriptions">구독 목록으로</a>
</p>

{{>layouts/footer}}
