{{>layouts/header}}

<div class="page-title">전체 구독</div>

<div class="list-grid">
    {{#subscriptions}}
    <a class="list-card {{colorClass}}" href="/subscriptions/{{id}}">
        <div class="card-service">{{emoji}} {{serviceName}}</div>
        <div class="card-price">{{displayPrice}}</div>
        <div class="card-cycle">{{billingCycle.label}}</div>
        <div class="card-div"></div>
        <div class="card-renewal">다음 갱신 <b>{{nextRenewalDate}}</b></div>
        <span class="badge {{#autoRenew}}badge-auto{{/autoRenew}}{{^autoRenew}}badge-manual{{/autoRenew}}">
            {{#autoRenew}}자동결제{{/autoRenew}}{{^autoRenew}}수동결제{{/autoRenew}}
        </span>
    </a>
    {{/subscriptions}}
</div>

{{^subscriptions}}
<div class="empty">
    <div class="empty-icon">📭</div>
    <p>등록된 구독이 없어요</p>
</div>
{{/subscriptions}}

{{>layouts/footer}}
